$color-bg: #361E48;
$color-fg: #ffffff;
$color-link-hover: #dbe4ee;
$color-link: #81a4cd;
$color-highlight: #ee5622;

$color-header: #ff5a5f;
$color-header-link: #ee5622;

$color-code-block-fg: #ffffff;
$color-code-block-bg: #407e8e;

$color-blockquote-fg: #ffffff;
$color-blockquote-bg: #4e5283;

$color-nav-fg: #000;
$color-nav-bg: #c2aff0;

$color-nav-fg-hover: #000;
$color-nav-bg-hover: #9c7a97;

$border-radius: 10px;

$image-border-color: $color-link;
$image-border-color-hover: $color-link-hover;

div.site-header {
    width: min-content;
}

div.site-header div.big {
    font-size: 72px;
    font-weight: 800;
    line-height: 1em;
}

div.site-header div.big span.text {
    color: $color-nav-bg;
    -webkit-text-stroke: 2px $color-nav-bg-hover;
}

div.site-header div.big span.emoji {
    color: transparent;
    text-shadow: 0 0 0 $color-nav-bg;
}

div.site-header div.little {
    font-size: 24px;
    font-weight: 800;
    line-height: 1em;
    color: $color-nav-bg-hover;
    text-align: right;
    font-style: italic;
}

@import "vendor";
@import "theme";